<!doctype html>
<html lang="en">
  <%- include('../partials/_header.ejs', { sellerId }) %>
  <body>
    <%- include('./_navbarSeller.ejs') %>

    <div class="container mt-4">
      <h1>List Products</h1>

      <table class="table table-bordered mt-4">
        <thead class="table-light">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Total Sales</th>
            <th scope="col">Stock</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% products.forEach((product, i) => { %>
            <% const { id, name, price, category, totalSales, stock } = product; %>
            <tr>
              <th scope="row"><%= ++i %></th>
              <td><%= name %></td>
              <td><%= price %></td>
              <td><%= category %></td>
              <td><%= totalSales %></td>
              <td><%= stock %></td>
              <td>
                <a href="/sellers/<%= sellerId %>/products/<%= id %>/edit" class="btn btn-warning">Edit</a>
                <a href="/sellers/<%= sellerId %>/products/<%= id %>/delete" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    
    <%- include('../partials/_footer.ejs') %>
  </body>
</html>